* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

.w {
    width: 1003px;
    margin: auto;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 70px;
    background-color: white;
}

.header .logo {
    float: left;
}

.header .logo img {
    margin-top: 3px;
    margin-left: 1px;
    float: left;
    width: 218px;
}

.header .logo h2 {
    float: left;
    line-height: 50px;
    margin-top: 7.5px;
    margin-left: 1.7px;
    margin-right: 35px;
    padding-left: 14.2px;
    font-size: 15.7px;
    color: #c0c0c0;
    font-weight: 600;
    border-left: 1px solid grey;
    border-color: rgba(0, 0, 0, .2);

}

.header .login {
    float: left;
}

.header .login input {
    margin: 4px;
    margin-top: 21.5px;
    padding-left: 5px;
    height: 20.2px;
    width: 126.3px;
    float: left;
    font-size: 7px;
    color: rgba(158, 154, 154, 0.7);
}

/* 获取焦点和失去焦点后的变化，通过classname实现多样式改变 */
.header .login .username_iptChg {
    margin: 4px;
    margin-top: 21.5px;
    padding-left: 5px;
    height: 24.2px;
    width: 129px;
    float: left;
    font-size: 7px;
    color: black;
    border: 0.2px solid rgb(255, 196, 199);
    outline: none;
}

.header .login .pwdChg {
    margin: 4px;
    margin-top: 21.5px;
    padding-left: 5px;
    height: 24.2px;
    width: 129.3px;
    float: left;
    font-size: 7px;
    color: black;
    border: 0.2px solid rgb(255, 196, 199);
    outline: none;
}

/* 登录按钮 */
.header .login a {
    display: block;
    margin: 21.5px 0px 0px 5.5px;
    background-color: #0098C2;
    width: 66.1px;
    height: 24px;
    display: block;
    float: left;
}

.header .login a p {
    line-height: 23px;
    text-align: center;
    color: rgba(236, 224, 224, 0.8);
    font-size: 14px;
    font-weight: 600;
}

.header .login a:hover {
    background-color: #0069c5;
}

.header .otherLogin {
    float: left;
    width: 305px;
}

.header .otherLogin h4 {
    float: left;
    line-height: 65px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 520;
    color: #adacac;

}

.header .otherLogin ul li {
    float: left;
    margin-left: 6px;
    margin-top: 26px;
}

.header .otherLogin .loginLogo li a {
    display: block;
    float: left;
    width: 14.5px;
    height: 14.5px;
    /* background-color: pink; */
    background: url(images/other_login.png) no-repeat;
}

.header .otherLogin .loginLogo li a:hover {
    filter: brightness(0.8);
}

.header .otherLogin .forget a {
    display: block;
    float: left;
    margin-left: 11px;
    font-size: 12px;
    font-weight: 520;
    color: #adacac;
}

.header .otherLogin .forget a:hover {
    color: #898585;
    text-decoration: underline;
}

.bd {
    height: 3000px;
    background-color: #fef2fc;
}